@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
html,
#root {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8 !important;
}

a {
    text-decoration: none;
}

.main-btn {
    background-color: #FEAF00;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-btn:hover {
    background-color: #F8D442;
}

.section-title {
    font-size: 26px;
    font-weight: 700;
}

.section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 60px;
    border-bottom: solid 1px #E5E5E5;
}

.form-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    color: #6C6C6C;
    margin-bottom: 4px;
}

.form-control {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.form-control:focus {
    border-color: #FEAF00 !important;
    box-shadow: 0 0 5px rgba(254, 175, 0, 0.5) !important;
}

.form-control::placeholder {
    color: #CDCDCD;
}

.has-icon {
    padding-right: 20px;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #CDCDCD;
}